html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body, #main_content_wrap, #main_content {
    display: flex;
    flex-direction: column;
    flex: 1 1 1px;
    max-width: none;
    margin: 0;
}
#canvas {
    flex: 1 1 1px;
    position: relative;
    overflow: hidden;
    background: black;
}